@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar {
    background-color: #729b83;
}
.nav-bar .nav-menu {
    display: flex;
    justify-content: center;
} 
.nav-bar .nav-menu .menu-item {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.main-container {
    padding: 50px 450px;
}
.summary-container, .about-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 100px;
}
.summary-container * {
    margin-bottom: 20px;
}
.summary-container .left .title {
    font-size: 35px;
}
.summary-container .left .subtitle {
    font-size: 20px;
}
.summary-container .left .btn-container {
    text-align: center;
}
.summary-container .left .btn-container button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0px 50px;
    font-size: 15px;
}
.summary-container .left .btn-container .btn-primary {
    background-color: #729b83;
    color: #fff;
    box-shadow: 5px 5px 2px 1px #cacaca;
}
.summary-container .left .btn-container .btn-primary:hover {
    background-color: #fff;
    color: #729b83;
    border: 1px solid #729b83;
    box-shadow: 5px 5px 2px 1px #729b83;
}
.summary-container .left .btn-container .btn-secondary {
    background-color: #fff;
    color: #729b83;
    border: 1px solid #729b83;
    box-shadow: 5px 5px 2px 1px #729b83;
}
.summary-container .left .btn-container .btn-secondary:hover {
    background-color: #729b83;
    color: #fff;
    box-shadow: 5px 5px 2px 1px #cacaca;
}
.summary-container .right .abstract-icon {
    margin-left: -100px;
}
.about-container {
    margin-bottom: 100px;
}
.about-container img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.about-container .info-container {
    margin-left: 150px;
    margin-top: 0;
}
.title {
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 600;
    border-bottom: 1px solid #729b83;
}
.about-container .info-container .subtitle {
    line-height: 50px;
}
.work-container .card-container {
    display: flex;
    margin-bottom: 100px;
}
.work-container .card-container .card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.work-container .card-container .card .title {
    font-size: 18px;
    border-bottom: none;
    margin: 10px 0;
}
.work-container .card-container .card .description {
    font-size: 13px;
}
.services-container .card-container {
    display: flex;
}
.services-container .card {
    justify-content: center;
    display: grid;
    padding: 0px 75px;
    text-align: center;
    border: 1px solid #e2e2e2;
    margin: 0px 50px;
    padding: 50px;
    border-radius: 10px;
}
.services-container .card i {
    font-size: 60px;
    margin-bottom: 20px;
}
.services-container .card .title {
    border-bottom: none;
    font-size: 20px;
    margin: 10px 0;
}